@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Cool Card Game</h1>
    <br />
    <a href="/Home/Deck/" class="btn btn-primary">Create New Deck</a>
</div>
